.pokeLabelv1 .leaflet-popup-content-wrapper{
  background: black;
  background: #000000 url('/static/images/label/v1/label_back.png');
  background-size: cover;
}

.pokeLabelv2 .leaflet-popup-content-wrapper{
  background: black;
  background: #000000 url('/static/images/label/v2/label_back.png');
  background-size: cover;
}
.pokeLabelv3 .leaflet-popup-content-wrapper{
  background: black;
  background: #000000 url('/static/images/label/v3/label_back.png');
  background-size: cover;
}

.iv-icon{
	font-weight: bold;
	border: 3px solid gray;
	border-radius: 50px;
	padding: 2px 2px 0px 1px;
}
.iv-icon.under80{
	background-color: white;
}
.iv-icon.over80{
	background-color: green;
	color:white
}
.iv-icon.over90{
	background-color: limegreen;
	color:white
}
.iv-icon.iv100{
	background-color: gold;
	padding: 4px 2px 4px 1px;
}
.iv-icon.iv0{
	background-color: black;
	color: white;
	padding: 1px 5px 1px 5px;
}

.submit-widget-popup {
  top: 4.5em !important;
  max-height: calc(100% - 5.5em);
  overflow-y: auto;
  .submit-modal.ui-dialog-content {
    padding: 0;
    overflow: hidden;
    #submit-tabs {
      border: 0;
      padding: 0;
      ul.ui-tabs-nav {
        display: inline;
        padding: 0;
        background: transparent;
        border: 0;
        border-bottom: 1px solid grey;
        margin-top: 5px;
        li {
          flex: 1;
          margin: 0;
          border-radius: 0;
	  width: 25%;
          &.ui-state-active {
            border-color: #3b3b3b;
            background-color: #3b3b3b;
          }
          a{
            text-align:center;
            font-size:12px;
            padding: .25em 1em;
            width:100%;
            @media(min-width:768px){
              font-size:16px;
            }
            img{
              height:32px;
            }
          }
        }
      }
      .ui-tabs-panel {
        padding: 0;
      }
    }
  }
  input {
    width: calc(100% - 4px);
    height: 40px;
    margin-bottom: 5px;
    padding: 5px;
    margin-top: 5px;
    margin-left: 2px;
    background: #eceaea;
    border: 0;
    margin-right: 2px;
    border: 1px solid grey;
  }
  .pokemon-list {
    max-height: 331px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

#nest-search-results {
  .i-icon{
    position:relative;
    .pokemon-icon {
      background-image: url($spriteLarge);
      background-image: var(--sprite-large);
      background-repeat: no-repeat;
      background-size: 1400px;
      top: 0;
      right: 0;
      position: absolute;
      -moz-transform-origin: 0 0;
      height: 50px;
      width: 50px;

      @for $i from 1 through $numberOfPokemon {
        &.n#{$i} {
          background-position: -#{(($i - 1) % 28) * 50}px -#{floor(($i - 1) / 28) * 50}px
        }
      }
    }
  }
}
